<!-- Footer Section -->
<footer>
    <div id="contact">
        <p>
            <address>
                Email me at: 
                <a href="mailto:rainer1370@gmail.com" aria-label="Email Rob Rainer">rainer1370@gmail.com</a>
            </address>
            Connect with me:
            <a href="https://www.researchgate.net/profile/Robert-Rainer" target="_blank" aria-label="ResearchGate">
                <i class="fab fa-researchgate"></i> ResearchGate
            </a> | 
            <a href="https://www.linkedin.com/in/robert-rainer" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a> | 
            <a href="https://github.com/Rainer1370" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i> GitHub
            </a>
        </p>
        <p>© 2025 Rob Rainer. All Rights Reserved.</p>
    </div>
</footer>
