<header>
    <nav>
        <a href="/index.html">Home</a> |
        <a href="/pages/about.html">About Me</a> |
        <a href="/pages/projects.html">Projects</a> |
        <a href="/pages/skills.html">Skills</a> |
        <a href="/pages/outreach.html">Outreach</a> |
        <a href="https://www.researchgate.net/profile/Robert-Rainer" target="_blank" aria-label="ResearchGate">
            <i class="fas fa-flask"></i>
        </a> |
        <a href="https://www.linkedin.com/in/robert-rainer" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a> |
        <a href="https://github.com/Rainer1370" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a> |
        <a href="https://join.slack.com/t/tech-synergy-hub/shared_invite/zt-2y0qk05px-IROk7~dBapKqdkOz3Vb0cA" target="_blank" aria-label="Slack">
            <i class="fab fa-slack"></i>
        </a>
    </nav>
</header>
